{% include 'header.html' %}
<br>
<h1 class="card-title">Información y tecnologías utilizadas.</h1>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sistema CRUD</h5>
          <p class="card-text">Este proyecto fue realizado para la materia de Programación multiparadigma.</p>
          <a href="https://github.com/Tjwtb/ProgramacionM-ProyectoFinal" target="_blank" class="btn btn-dark">Consigue el código</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Flask</h5>
          <p class="card-text">Es un “micro” Framework escrito en Python y concebido para facilitar el desarrollo de Aplicaciones Web</p>
          <a href="https://flask.palletsprojects.com/en/2.0.x" target="_blank" class="btn btn-dark">Página oficial</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Jinja</h5>
          <p class="card-text">Jinja es un motor de plantillas web para el lenguaje de programación Python.</p>
          <a href="https://jinja.palletsprojects.com/en/3.0.x/" target="_blank" class="btn btn-dark">Página oficial</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Xampp</h5>
          <p class="card-text">Sistema de gestión de bases de datos MySQL, el servidor web Apache y los intérpretes para lenguajes de script PHP y Perl.</p>
          <a href="https://www.apachefriends.org/es/index.html" target="_blank" class="btn btn-dark">Página oficial</a>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}